<md-card ng-controller="addWatcherServerCardController"   class="dashboard_card md-whiteframe-z1">

   <md-card-title  class="title" layout-align="center center">
      <md-card-title-text>
         <div layout="row" layout-align="center center">
            <span class="md-headline">New Watcher server</span>
         </div>
        </md-card-title-text>
   </md-card-title>
   <md-divider></md-divider>

   <md-card-content >
       <p>If you experience heavy load on your <b>Watcher servers</b> you might consider adding new servers to your configuration. </p>
       <div  layout="row" layout-align="center center">
           <md-button class="md-primary md-raised" ng-click="showAddDialog()">Add Watcher Server</md-button>
       </div>
   </md-card-content>

</md-card>
