<md-card ng-controller="watcherServerCardController" class="dashboard_card md-whiteframe-z1">

   <md-card-title  layout-align="center center">
      <md-card-title-text>
          <span class="md-headline">{{watcherServer.name}}</span>
          <span class="md-subhead">Watcher Server</span>
      </md-card-title-text>

      <md-menu class="more_menu">
         <md-button class="expand_button md-icon-button" ng-click="$mdOpenMenu(ev)" aria-label="more">
            <ng-md-icon md-menu-origin icon="more_vert"></ng-md-icon>
         </md-button>
         <md-menu-content width="3">
            <md-menu-item>
               <md-button ng-click="showEditDialog(watcherServer)">
                  <ng-md-icon icon="edit" md-menu-align-target style="fill: grey"></ng-md-icon>
                  Edit
               </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
               <md-button ng-click="showRemoveDialog(watcherServer)">
                  <ng-md-icon icon="remove" style="fill: red"></ng-md-icon>
                  Remove
               </md-button>
            </md-menu-item>
         </md-menu-content>
      </md-menu>

   </md-card-title>
   <md-divider></md-divider>
   
   <div ng-switch="state">
      
      <md-card-content ng-switch-when="loading">
         <p>Loading...</p>
      </md-card-content>

      <md-card-content ng-switch-when="disconnected">
         <p>Can't connect to Watcher server. Check Watcher server settings.</p>
      </md-card-content>

      <md-card-content ng-switch-when="connected">
         <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Stress">
               <md-content>
                  <h4>Current performance</h4>
                  <div class="properties_container">
                     <property name="CPU" current="watcherServerStatus.cpu"></property>
                     <property name="Memory" current="watcherServerStatus.memory"></property>
                     <property name="Storage" current="watcherServerStatus.hdd_free_gb"></property>
                  </div>
               </md-content>
            </md-tab>
            <md-tab label="Info">
               <md-content>
                  <div class="info_container">
                     <h4>Status information:</h4>
                     <p>Package count: {{watcherServerStatus.package_count}}</p>
                     <p>Average latency: {{watcherServerStatus.average_latency}}</p>
                     <p>Stress level: {{watcherServerStatus.stress_level |number:1}}</p>
                  </div>
               </md-content>
            </md-tab>
         </md-tabs>
      </md-card-content>
   </div>
</md-card>
