<div layout="column" ng-cloak layout-fill>
   <div layout="row" flex="10">
      <md-toolbar layout="row" class="md-whiteframe-z2" layout-align-gt-md="start center" layout-align="start center">
         <div flex class="md-toolbar-tools" layout="row" layout-align="center center" layout-align-gt-sm="start center">
         
         <a layout-align="center center" layout="column" flex-sm="35" flex-xs="45" flex-md="20" flex-lg="20" flex-xl="15"  href="http://guartinel.com">
               <img layout-fill src="Content/Images/guartinel-logo500x106.png" style="width: 100%; height: 100%;">
            </a>
         </div>
      </md-toolbar>
   </div>
   <md-content flex="90" class="grtnl-login-register-page-background" ui-view></md-content>

</div>