<md-content layout="row" layout-align="center start" class="grtnl-login-register-page-background">
   <md-card layout-padding class="md-whiteframe-z2" style="background: white" layout="column" flex-xs="95" flex-sm="70" flex-md="50" flex-gt-md="30">
      <div layout="column" layout-align="center center">
         <p class="grtnl-text-xl">Registration</p>
         <p class="grtnl-text-xs">Please fill the form below in order to get your new account.</p>
      </div>

      <md-card-content layout="row" class="top_padding_big" layout-align="center start">
         <form flex="80" layout-margin layout="column" name="registerForm"
               submit-method="register(email, password, firstName, lastName)" loading-form layout-align="start center">

            <div layout-padding layout="row" layout-fill layout-align="center start">
               <md-input-container md-no-float layout-fill>
                  <label style="font-weight: bold" class="grtnl-text-m">First name</label>
                  <input placeholder="Type your first name here" ng-model="firstName" name="firstNameField" class="input_contrast">
               </md-input-container>
            </div>
            <br/>
            <div layout-padding layout="row" layout-fill layout-align="center center">
               <md-input-container md-no-float layout-fill>
                  <label style="font-weight: bold" class="grtnl-text-m">Last name</label>
                  <input placeholder="Type your last name here" ng-model="lastName" name="lastNameField" class="input_contrast">
               </md-input-container>
            </div>
            <br/>
            <div layout-padding layout="row" layout-fill layout-align="center center">
               <md-input-container md-no-float layout-fill>
                  <label style="font-weight: bold" class="grtnl-text-m">E-mail</label>
                  <input placeholder="Type your E-mail here" required type="email" ng-model="email" name="emailField" class="input_contrast">
                  <div ng-messages="registerForm.emailField.$error">
                     <div ng-message="required">Required</div>
                     <div ng-message="email">Invalid email</div>
                  </div>
               </md-input-container>
            </div>
            <br/>
            <div layout-padding layout="row" layout-fill layout-align="center center">
               <md-input-container md-no-float layout-fill>
                  <label style="font-weight: bold" class="grtnl-text-m">Password</label>
                  <input type="password" placeholder="Type your password here" ng-model="password" id="password" required name="passwordField" ng-minlength="6" class="input_contrast">
                  <div ng-messages="registerForm.passwordField.$error">
                     <div ng-message="required">Required</div>
                     <div ng-message="minlength">Password is minimum 6 characters long</div>
                  </div>
               </md-input-container>
            </div>
            <br/>
            <div layout-padding layout="row" flex="100" layout-fill layout-align="center center">
               <md-input-container md-no-float layout-fill>
                  <label style="font-weight: bold" class="grtnl-text-m">Password again</label>
                  <input type="password" placeholder="Confirm password here" ng-model="confirmPassword" required name="confirmPasswordField" ng-minlength="6" class="input_contrast" match="password">
                  <div ng-messages="registerForm.confirmPasswordField.$error">
                     <div ng-message="required">Required</div>
                     <div ng-message="match">Passwords don't match</div>
                     <div ng-message="minlength">Password is minimum 6 characters long</div>
                  </div>
               </md-input-container>
            </div>
            <div>
            <md-checkbox ng-model="termsChecked" aria-label="I have read and agree to the Privacy Policy"> 
                <a href="https://manage.guartinel.com:8888/GuartinelGDPR.pdf"  class="md-primary" target="_blank">   I have read and agree to the Privacy Policy</a>
            </md-checkbox>
            </div>
            <div layout="row" layout-fill layout-padding layout-align="center center">
               <div layout="column" layout-fill class="form_actions" layout-align="start stretch">
                  <div layout="row" layout-align="center start">
                     <md-button flex="60" layout-fill ng-disabled="registerForm.$invalid || !termsChecked" class="md-primary md-raised" style="text-transform: none" type="submit">
                        <div layout="row" layout-align="center center">
                           <p layout-padding class="no_margin grtnl-text-m">Register</p>
                        </div>
                     </md-button>
                  </div>
                  <div layout="row" layout-align="center start">
                     <a layout-padding style="text-transform: none" class="grtnl-text-xs md-button" ui-sref='homepage.login'>Back to login</a>
                  </div>
               </div>
            </div>
         </form>
      </md-card-content>
   </md-card>

</md-content>

<!-- <div layout-fill layout="column"class="grtnl-login-register-page-background">

   <div layout-margin flex="grow" layout="row" layout-align="center start">
      <div layout-padding class="md-whiteframe-z2" style="background: white" layout="column" flex-xs="95" flex-sm="70" flex-md="50" flex-gt-md="30">
         <div layout="column" layout-align="start center">
            <span class="grtnl-text-xl">Registration</span>
            <span class="grtnl-text-xs">Please fill the form below in order to get your new account.</span>
         </div>

         <form flex="80" layout-margin layout="column" name="registerForm"
               submit-method="register(email, password, firstName, lastName)" loading-form layout-align="start center">

            <div layout="row" layout-fill layout-align="center center">
               <md-input-container flex="70" layout-padding layout="column" layout-align="start center">
                  <label class="grtnl-text-m">First name</label>
                  <input ng-model="firstName" name="firstNameField" class="input_contrast">
               </md-input-container>
            </div>

            <div layout="row"layout-fill layout-align="center center">
               <md-input-container flex="70" layout-padding layout="column" layout-align="start center">
                  <label class="grtnl-text-m">Last name</label>
                  <input ng-model="lastName" name="lastNameField" class="input_contrast">
               </md-input-container>
            </div>

            <div layout="row" layout-fill layout-align="center center">
               <md-input-container flex="70" layout-padding layout="column" layout-align="start center">
                  <label class="grtnl-text-m">E-mail</label>
                  <input required type="email" ng-model="email" name="emailField" class="input_contrast">
                  <div ng-messages="registerForm.emailField.$error">
                     <div ng-message="required">Required</div>
                     <div ng-message="email">Invalid email</div>
                  </div>
               </md-input-container>

            </div>
            <div layout="row" layout-fill layout-align="center center">
               <md-input-container flex="70" layout-padding layout="column" layout-align="start center">
                  <label class="grtnl-text-m">Password</label>
                  <input type="password" ng-model="password" id="password" required name="passwordField" ng-minlength="6" class="input_contrast">
                  <div ng-messages="registerForm.passwordField.$error">
                     <div ng-message="required">Required</div>
                     <div ng-message="minlength">Password is minimum 6 characters long</div>
                  </div>
               </md-input-container>
            </div>

            <div layout="row" layout-fill layout-align="center center">
               <md-input-container flex="70" layout-padding layout="column" layout-align="center start">
                  <label class="grtnl-text-m">Password again</label>
                  <input type="password" ng-model="confirmPassword" required name="confirmPasswordField" ng-minlength="6" class="input_contrast" match="password">
                  <div ng-messages="registerForm.confirmPasswordField.$error">
                     <div ng-message="required">Required</div>
                     <div ng-message="match">Passwords don't match</div>
                     <div ng-message="minlength">Password is minimum 6 characters long</div>
                  </div>
               </md-input-container>
            </div>

            <div layout="row" layout-fill layout-align="center center">
               <div layout="column" flex="70" class="form_actions" layout-fill layout-align="start center">
                  <div layout="row" layout-fill layout-align="center start">
                     <md-button layout-fill ng-disabled="registerForm.$invalid" class="md-primary md-raised" style="text-transform: none" type="submit">
                        <div layout="row" layout-align="center center">
                           <p layout-padding class="no_margin grtnl-text-m">Register</p>
                        </div>
                     </md-button>
                  </div>
                  <div layout="row" layout-fill layout-align="center start">
                     <a layout-padding style="text-transform: none" class="grtnl-text-xs md-button" ui-sref='homepage.login'>Back to login</a>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>-->