Guartinel.Android
_ReSharper.Caches
Guartinel.CLI
Guartinel.CLI.Tests
Guartinel.CLI.Utility
Guartinel.CLI.Utility.Tests
Guartinel.Hardware
Guartinel.Hardware.Configurator
Guartinel.Kernel.Tests
Guartinel.ManagementServer
Guartinel.ManagementServer.APITests
Guartinel.ManagementServer.Tests
Guartinel.Service.Tests
Guartinel.WatcherServer
Guartinel.WatcherServer.Tests
Guartinel.Website.Admin
Guartinel.Website.Admin.Tests
Guartinel.Website.Commercial
Guartinel.Website.Common
Guartinel.Website.User
Guartinel.Website.User.Tests